<div class="panel panel-primary">
  <div class="panel-heading">
    <h5>
      You have no transactions.
    </h5>
  </div>
  <div class="panel-body">
    Try adding a <%= link_to "payment", new_account_payment_path(@account) %> or a <%= link_to "transfer", new_account_transfer_path(@account) %> here.
  </div>
</div>
