<div class="top-navigation-container">
  <div class="outer">
    <div class="nav-inner">
      <nav class="top-navigation">
        <%= link_to "£und$₮ra¢K€r", root_path, class: "top-logo" %>

        <%= render_tabnav class: "navigation-links" do |nav|
          if current_user.present?
            nav.add_tab do |tab|
              tab.named "Log out"
              tab.links_to destroy_user_session_path, method: :delete
            end
          else
            nav.add_tab do |tab|
              tab.named "Log in"
              tab.links_to new_user_session_path
            end

            nav.add_tab do |tab|
              tab.named "Sign up"
              tab.links_to new_user_registration_path
            end
          end
        end %>
      </nav>
    </div>
  </div>
</div>
