@import "neat-helpers";

$grid-columns: 12;
$column: 60px;
$gutter: 10px;
$max-width: 960px;
$visual-grid: false; // Override to show the vertical columns
$visual-grid-index: 500; // Ensures that the grid is (mostly) on top
