.header-block {
  margin-bottom: 12px;

  .header-actions {
    text-align: right;
  }
}

.middle-align {
  > tbody, > thead {
    > tr {
      > td, > th {
        vertical-align: middle;
      }
    }
  }
}

.tags {
  list-style-type: none;
  padding: 0;

  > li {
    display: inline-block;
    padding-bottom: 3px;
  }
}
