@mixin font-size($font-size, $line-height) {
  font-size: $font-size;
  line-height: $line-height;
}

@mixin white-link {
  a {
    color: $white;
    &:hover {
      color: darken($white, 20%);
    }
  }
}
