.top-navigation-container {
  background-color: $dark-blue;

  .nav-inner {
    padding: 12px 0;
  }
}

.top-navigation {
  @include clearfix;

  .top-logo {
    float: left;
    font-size: 24px;
  }

  .navigation-links {
    float: right;
    li {
      display: inline-block;
      margin: 0 8px;
    }
  }
}
