$blue: #004489;
$grey-e1: #e1e1d6;
$grey-d3: #d3d9df;
$grey-98: #989898;
$grey-56: #565656;
$grey-db: #dbdbdb;
$white: white;

$link-blue: #087BA0;
$link-darker-blue: darken($link-blue, 20%);

$link-color: $link-blue;
$link-hover-color: $link-darker-blue;
