$red: #F37257;
$orange: #F68D5C;
$yellow: #F4D27A;
$dark-blue: #517281;
$blue: #7895A2;
$light-blue: #AFC1CC;
$white: white;

$font-family: 'PT Serif', serif;

$link-color: $light-blue;
$link-hover-color: $white;
