<%= simple_form_for [@account, @transaction], html: { class: 'form-horizontal' },
  wrapper: :horizontal_form,
  wrapper_mappings: {
    check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :horizontal_file_input,
    boolean: :horizontal_boolean,
    currency: :horizontal_input_with_text
  } do |f| %>

  <%= f.input :description, placeholder: "Description", autofocus: true %>

  <%= f.input :amount, placeholder: "Amount", as: :currency, input_group_text: t("number.currency.format.unit"), input_html: { class: 'form-control', value: number_with_precision(f.object.amount, precision: 2) } %>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
