<div class="panel panel-primary">
  <div class="panel-heading">
    <h5>
      You have no transactions.
    </h5>
  </div>
  <div class="panel-body">
    Try adding one <%= link_to "here", new_account_transaction_path(@account) %>.
  </div>
</div>
