<h4>Tags</h4>

<ul class="tags">
  <% @tags.each do |t| %>
    <li>
      <%= link_to tagged_account_transactions_path(@account, t), class: 'tag' do %>
        <span class="label label-info"><%= t.name %></span>
      <% end %>
    </li>
  <% end %>
</ul>
