<% @things.inject(@ending_amount) do |total, thing| %>
  <%= render partial: thing, locals: { total: total } %>
  <%- total - thing.calculate_amount(@account) %>
<% end %>
<tr>
  <td></td>
  <td>
    <strong>Starting balance</strong>
  </td>
  <td></td>
  <td></td>
  <td>
    <strong><%= as_currency(@starting_amount) %></strong>
  </td>
  <td></td>
</tr>
