<table class="table middle-align">
  <thead>
    <tr>
      <th>Transaction date</th>
      <th>Description</th>
      <th>Tagged with...</th>
      <th>Amount</th>
      <th>Running total</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td>
        <strong>Starting balance</strong>
      </td>
      <td></td>
      <td></td>
      <td>
        <strong><%= as_currency(@account.starting_balance) %></strong>
      </td>
      <td></td>
    </tr>
    <%= render 'transactions' %>
    <tr>
      <td></td>
      <td>
        <strong>Current balance</strong>
      </td>
      <td></td>
      <td></td>
      <td>
        <strong><%= as_currency(@account.current_balance) %></strong>
      </td>
      <td></td>
    </tr>
  </tbody>
</table>
