<div class="panel panel-primary">
  <div class="panel-heading">
    <h5>
      You have no accounts.
    </h5>
  </div>
  <div class="panel-body">
    Try making one <%= link_to "here", new_account_path %>.
  </div>
</div>
