<div class="row header-block">
  <div class="col-md-9">
    <h3>New Account</h3>
  </div>

  <div class="col-md-3 header-actions">
    <%= link_to "Cancel", accounts_path, class: "btn btn-danger" %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= render 'form' %>
  </div>
</div>
